.grid{
    border: solid 1px blue;
    width: 900px;
    height: 900px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    margin: auto;
}

.cell{
    justify-self: center;
    align-self: center;
}

.card{
    width: calc(750px/4);
    height: calc(750px/4);
    border-right:solid 1px rgb(255, 251, 202);
    border-radius: 15px;
    box-shadow: 5px 7px 10px rgb(243, 243, 243);
    background-color: rgb(255, 251, 202);

    display: flex;
    justify-content: center;
    align-items: center;
}


.animal{
    box-sizing: border-box;
    width: 150px;
    height: 150px;
}