@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body{
    position: relative;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}

.grid{
    width: 900px;
    height: 900px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    margin: auto;
}

.cell{
    justify-self: center;
    align-self: center;

}

.card{
    width: calc(750px/4);
    height: calc(750px/4);
    border-radius: 15px;
    border-right:solid 1px rgb(255, 251, 202);
    box-shadow: 5px 7px 10px rgb(243, 243, 243);
    background-color: rgb(255, 251, 202);

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}

.card:hover{
    cursor: pointer;
}

.card--active{
    border:solid 3px rgb(255, 247, 154);
}

.hidden{
    position: absolute;
    width: calc(750px/4);
    height: calc(750px/4);
    border-radius: 15px;

    background-color: rgb(255, 247, 154);
}

.animal{
    box-sizing: border-box;
    width: 150px;
    height: 150px;
}


.alert-box{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(248, 248, 248);
    width: 500px;
    height: 300px;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.text-box{
    text-align: center;
}

.buttons-box{
    padding: 1rem;
    width: 350px;
    display: flex;
    justify-content: space-between;
}

.button{
    padding: 0.7rem 1.5rem;
    border-radius: 7px;
    color:#fff;
    font-weight: 700;
    cursor: pointer;
}

.button--yeah{
    background-color:rgb(42, 255, 42);
}

.button--nop{
    background-color:rgb(255, 35, 35);
}